/*Styling Default Bootstrap Container-fluid*/
.container-fluid {
    margin-left: 0;
}

/*Styling for PlugMe Navbar*/
nav.navbar {
    background-color: #191919;
}
nav.navbar, #plugMe-tab.fix, #mobile-plugMe-tab.fix, nav#mobile-plugMe-tab, #nav-icon span, .plug-caption, .plug-trends figure,
.vid-url, .add-exp, .plug-card .plug-action, .plug-view-card, .plug-feedback {
    width: 100% ;
}
nav.navbar .input-group {
    width: 40%;
}
nav.navbar .input-group .form-control{
    border-radius: 0 .125rem .5rem 0;
}
nav.navbar .input-group-sm>.input-group-btn>.btn {
    border-radius: .5rem 0 0 .125rem;
}
nav.navbar .plugme-logo {
    margin-left: 2rem;
}
nav.navbar .sign {
    font-size: 0.875rem;
    color: white;
    margin: 0 .75rem;
    text-decoration: none;
}
nav.navbar .sign:last-child {
    font-size: 1rem;
    margin: 0 2rem 0 1rem;
}
nav.navbar .sign img {
    height: 20px;
}
nav.navbar .sign:last-child img {
    height: 24px;
    vertical-align: bottom;
}
nav.navbar .sign span, nav.navbar .sign:hover, nav.navbar .dropdown-menu .dropdown-item, .link-yellow, .link-yellow:hover,
#about figure h5, .plug-trends figure:hover figcaption, nav.navbar .dropdown-menu .dropdown-item .media, .page-link:focus,
.page-link:hover, .page-item.active .page-link {
    color: #fdc242;
}
nav.navbar .dropdown-toggle::after, .plug-feedback, .add-exp, .plug-card .plug-action {
    display: none;
}
nav.navbar .dropdown-menu {
    background-color: #484546;
    left: auto;
    right: 0;
    margin: 0.25rem 0 0;
    border-radius: 1rem .25rem 1rem .25rem;
    width: 375px;
    line-height: 1;
}
nav.navbar .dropdown-menu .btn {
    top: 0.875rem;
    right: 0.875rem;
}
nav.navbar .dropdown-menu h5, nav.navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1rem;
}
nav.navbar .dropdown-menu .dropdown-item {
    color: white;
    font-size: 0.875rem;
    font-weight: 300;
}
nav.navbar .dropdown-menu img {
    height: 1.75rem;
}
nav.navbar .dropdown-menu .dropdown-item:focus, nav.navbar .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}
nav.navbar .dropdown-menu hr, .plug-feedback hr {
    margin: .375rem auto;
}
.red-counter {
    top: -0.375rem;
    right: 0;
    height: 1.375rem;
    width: 1.375rem;
    font-size: 0.875rem;
    color: white;
    border-radius: 50%;
    background-color: #ea4235;
}
.drop-time, .msg-status, .fd-time {
    right: 0.875rem;
}
.drop-time, .msg-status {
    bottom: -0.375rem;
}

/*Styling for Input Groups*/
nav.navbar .input-group .form-control, footer .input-group .form-control {
    background-color: #ffffff40;
    font-size: 0.875rem;
    border: none;
    color: white;
}
.input-group .form-control:focus {
    box-shadow: none;
}
nav.navbar .input-group-sm>.input-group-btn>.btn, footer .input-group-sm>.input-group-btn>.btn {
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #bcbaba 100%);
    cursor: pointer;
    color: #5d3c9c;
    border: none;
}
nav.navbar .input-group-sm>.input-group-btn>.btn:hover, footer .input-group-sm>.input-group-btn>.btn:hover {
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #a5a5a5 100%);
}

/*Styling for Headers*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/*Styling for Advert Banner*/
.Ads {
    margin-top: 56px;
}
#Ads-Banner, #Ads-Banner .carousel-inner, #Ads-Banner .carousel-item {
    height: 225px;
    overflow: hidden;
}
#Ads-Banner .carousel-item img, #entryGallery .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#Ads-Banner .carousel-control-next, #Ads-Banner .carousel-control-prev {
    width: 5%;
}
#entryGallery, #entryGallery .carousel-inner, #entryGallery .carousel-item {
    height: 100%;
}

/*Styling for Content Area Navbar*/
#plugMe-tab, #mobile-plugMe-tab, .plugger-bio, .bio-gallery, .bio-opportunity, .bio-achievement, .bio-msg, .no-decor.add, .vid-url,
.plug-feedback .col-12 {
    position: relative;
}
#plugMe-tab, #mobile-plugMe-tab {
    box-shadow: 0 2px 4px #00000040;
}
#plugMe-tab.fix, #mobile-plugMe-tab.fix {
    position: fixed;
    top: 56px;
    background-color: white;
    z-index: 3;
}
.mt-46 {
    margin-top: 46px;
}
#plugMe-tab .nav-link.active, #plugMe-tab .nav-link:hover, .mobile-tab-name, #profileTab .nav-link.active, #profileTab .nav-link:hover {
    color: #5d3c9c;
}
#plugMe-tab .nav-link.active, #mobile-plugMe-tab, #profileTab .nav-link.active {
    font-weight: 400;
}

/*Styling for Side Navigation on Mobile Viewport*/
nav.flex-column.side-nav {
    background-color: rgba(139, 3, 79, 1);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    padding-top: 125px;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}
nav.flex-column.side-nav.open {
    width: 250px;
    box-shadow: 0 0 5px #00000080;
}
nav.flex-column.side-nav a {
    width: 250px;
    text-decoration: none;
    color: rgba(254, 255, 3, 1);
    transition: 0.3s;
}
nav.flex-column.side-nav hr {
    background-image: radial-gradient(#cfd0d1 25%, transparent 100%);
    height: 2px;
}
.Ads, #mobile-plugMe-tab, .main-page, footer {
    transition: margin-left .5s;
}

/*Styling for Mobile Application Navigation*/
nav#mobile-plugMe-tab {
    background-color: white;
    height: 46px;
    padding-right: 56px;
}
#nav-icon{
    width: 40px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon span, .bg-purple {
    background: #5d3c9c;
}
#nav-icon span {
    display: block;
    position: absolute;
    height: 6px;
    border-radius: .25rem .0625rem .25rem .0625rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
    top: 0;
}
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 12px;
}
#nav-icon span:nth-child(4) {
    top: 24px;
}
#nav-icon.open span:nth-child(1), #nav-icon.open span:nth-child(4)  {
    top: 12px;
    width: 0;
    left: 50%;
}
#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*Styling for Content Area*/
.main-page {
    background: url(../images/wallpaper.png) no-repeat center;
    background-size: cover;
}
.page-header h3, .page-header h4, .op-name, .up-name, .plug-view-card .plugger-info .view-plugger-name, .plug-tag span,
.plugger-bio .bio-info .name, #about .caption, #about h6, .bio-gallery label, .bio-opportunity label, .card-body .bio-info .name,
.bio-msg h5, .bio-msg h6, .bio-msg .bio-info .name {
    color: #5d3c9c;
    font-weight: 500;
}
.page-content .col-lg-auto, .bio-gallery .col-sm-6, .bio-opportunity .col-sm-6 {
    padding-left: .5rem;
    padding-right: .5rem;
}

/*Styling for Plug Cards*/
.plug-card {
    position: relative;
    background-color: white;
    height: 250px;
    border-radius: 1rem 0.25rem 1rem 0.25rem;
    box-shadow: 0 0 5px #d8d8d8;
    cursor: pointer;
    overflow: hidden;
}
.plug-caption {
    position: absolute;
    bottom: 0;
    color:  #cfd0d1;
    border-radius: 0 0 1rem .25rem;
    background-color: rgba(0,0,0,.7);
    max-height: 90px;
    height: auto;
    transition: max-height 1.5s ease !important;
    -webkit-transition: max-height 1.5s ease; /* Safari */
}
.plug-caption, .plug-caption.active {
    box-shadow: 0 0 5px #73747799;
}
.plug-name, .plugger-bio .bio-rating, .plugger-bio .bio-header, .plug-metrics .icon, .plug-date, #opportunityTab .nav-lnk,
#addContentTab .nav-link, #walletTab .nav-link, .op-profile-desc, .op-comment span, .sign-cnt, .sign-ads, .sign-ads .link-yellow,
.sign-caption .hd, #about figure h5, nav.navbar .dropdown-menu h5, .drop-name, .plug-feedback .media-body .name, .card-body .media-body
.name, #wTab-content h5, .purple h6, .sub-head {
    font-weight: 500;
}
.plug-caption .plug-name, .plug-caption .plug-categories, .plug-caption .opp-plugger-name, .add-sym, nav.navbar .dropdown-menu h5 {
    color:  #cfd0d1;
    text-decoration: none;
}
.plug-caption .plug-details, .bio-opportunity .plug-card .plug-caption .plug-name, .plug-info .input-group-prepend, .op-uploader {
    line-height: 1.25;
}
.plug-caption .plugger-name, .plug-caption .achiever-desc, .page-navigation, .op-location, .up-desc, .op-comment, .sign-cnt,
.plug-btn-sm, #fdbk-trigger, .op-rating {
    font-size: 0.75rem;
}
.plug-caption .plug-categories, .plug-caption .opp-plugger-name, .plugger-bio .bio-member{
    display: block;
    font-size: 0.675rem;
    line-height: 1.125;
}
.plug-caption hr, .plug-view-card hr, .plugger-bio hr, nav.navbar .dropdown-menu hr, .bio-opportunity hr, .bio-achievement hr,
.bio-msg hr, .plug-feedback hr, #wTab-content hr {
    background-image: radial-gradient(#cfd0d1 20%, transparent 100%);
}
.plug-caption.active hr {
    background-image: radial-gradient(#737477 20%, transparent 100%);
}
.plug-caption hr, .plug-caption.active hr, .plug-view-card hr, .plugger-bio hr, nav.navbar .dropdown-menu hr, .bio-opportunity hr,
.bio-achievement hr, .bio-msg hr, .plug-feedback hr, #wTab-content hr {
    border: 0 !important;
    border-radius: 50%;
}
.plug-caption hr, .plug-view-card hr, .plugger-bio hr, nav.navbar .dropdown-menu hr, .plug-caption.active hr, .bio-opportunity hr,
.bio-achievement hr, .bio-msg hr, .plug-feedback hr, #wTab-content hr {
    height: 0.075rem;
}
.plug-caption hr {
    margin: .25rem 0 0 0 !important;
}
.plug-caption .likes, .plug-caption .views {
    display: inline-block;
    width: 48%;
    font-size: .675rem;
}
.plug-caption.active {
    background-color: white;
    max-height: 135px;
}
.plug-caption.active a.plug-name, .plugger-bio .bio-rating, .op-profile-desc, .plug-view-card .plugger-info .view-plugger-desc,
.plug-metrics, .plug-tag, .plugger-bio .bio-info .desc, .up-desc,#about .intro, #about p, #about .my-5 span, .add-exp, .card-body
.bio-info .desc, .magenta, .bio-msg .bio-info .desc {
    color: #86275d;
}
.plug-caption.active .plugger-name, .plug-caption.active .achiever-desc, .plugger-bio .bio-header, .page-navigation .active,
.page-link, .page-link::after, .page-item.disabled .page-link, .plug-feedback .media-body a, .purple {
    color: #5d3c9c;
}
.plug-caption.active .plug-categories, .plug-caption.active .likes, .plug-caption.active .views, .plug-caption.active
.opp-plugger-name, .plugger-bio .bio-member, .plug-view-card .plugger-info .view-plugger-location, .plug-date, .plugger-bio .location,
.op-rating, .bio-rating i , .page-navigation, .op-location, .op-time, .op-comment, .op-profile-value, #plugMe-tab .nav-link,
#profileTab .nav-link, .plugger-bio .bio-member, .plug-trends figure figcaption, .up-discliamer, .bio-msg label, .msg-status,
.plug-feedback, .plug-feedback textarea, .card-body .bio-info .location, #wTab-content h5, .grey, .bio-msg .bio-info .location,
.sub-body, .sub-footer {
    color: #737477;
}
.bg-magenta {
    background: #86275d;
}
.bio-gallery .plug-card, .bio-opportunity .plug-card {
    height: 200px;
}
.bio-gallery .plug-card .plug-caption.active, .bio-opportunity .plug-card .plug-caption.active {
    background-color: white;
    max-height: 110px;
}
.bio-gallery .plug-card .plug-caption .plug-name, .bio-gallery label, .bio-opportunity label, #about p, .bio-gallery .form-control,
.bio-opportunity .form-control, .bio-opportunity .input-group .form-control, .bio-opportunity .plug-card .plug-caption .plug-name,
.s-0875, .bio-info .desc{
    font-size: 0.875rem;
}
.plug-card .plug-cancel, .plug-card .plug-type {
    top: 0;
}
.plug-card .plug-cancel img, .plug-card .plug-type img {
    height: 2rem;
}
.plug-card .plug-action {
    top: 2.5rem
}
.plug-card > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Styling for Trending Categories */
.plug-trends figure {
    cursor: pointer;
    transition: all 1s ease;
}
.plug-trends figure:hover {
    box-shadow: 0 0 5px #d8d8d8;
    border-radius: 1rem 0.25rem 1rem 0.25rem;
    background-color: white;
}
.plug-trends figure img {
    object-fit: contain;
    height: 200px;
}
.plug-trends figure img, nav.navbar .dropdown-menu hr {
    width: 80%;
}

/* Styling for About Categories */
.about-graphic img{
    object-fit: cover;
    width: 100%;
}
.about-sign-up, .about-connect, .about-fanbase, .about-creatvt, .add-exp, .red-counter, .drop-time, nav.navbar .dropdown-menu .btn,
.msg-status, .plug-card .plug-cancel, .plug-card .plug-action, .fd-time, .plug-feedback .fa-close, .plug-view-card, .plug-feedback {
    position: absolute;
}
.about-sign-up, .about-connect, .plug-card .plug-cancel {
    right: 0;
}
.about-fanbase, .about-creatvt, .plug-card .plug-type {
    left: 0;
}
.about-sign-up {
    top: 12.5%;
}
.about-connect {
    top: 62.5%;
}
.about-fanbase {
    top: 32%;
}
.about-creatvt {
    top: 80%;
}
#about figure {
    width: 70%;
    margin-left: 15%;
}
#about figure img {
    object-fit: contain;
    width: 100%;
    height: 150px;
}
#about figure figcaption {
    width: 120%;
    margin-left: -10%;
}

/*Styling for Profile Page (Portfolio Section)*/
.plugger-bio, .bio-gallery, .bio-opportunity, .bio-achievement, .bio-msg {
    border-radius: 1.25rem .25rem 1.25rem .25rem;
    box-shadow: 0 0 5px #73747799;
    overflow: hidden;
}
.plugger-bio, #opTab-content, #ocTab-content, #wTab-content {
    padding: 1.25rem;
}
.plugger-bio, .sub-card {
    background-color: #fafafa;
}
.bio-gallery, .bio-opportunity, .bio-achievement, .bio-msg {
    background-color: white;
}
.p-1-25 {
    padding: 1.25rem;
}
.plugger-bio .bio-img {
    height: 100px;
}
.plugger-bio .bio-info img, .card-body .bio-info img, .bio-msg .bio-info img{
    height: 1rem;
    vertical-align: text-bottom;
}
.plugger-bio .bio-rating {
    line-height: 2;
    font-size: 0.875rem;
}
.plugger-bio hr, .bio-opportunity hr, .bio-achievement hr, .bio-msg hr {
    margin: 1rem auto;
}
.plug-msg {
    padding-top: .5rem;
}
.plug-msg img, .plug-action img {
    height: 1.25rem !important;
}
.bio-gallery .form-control, .bio-opportunity .form-control, .bio-gallery .form-control:focus, .bio-opportunity .form-control:focus {
    border: 1px solid #73747799;
}
.bio-gallery input::placeholder, .bio-gallery textarea::placeholder, .bio-opportunity input::placeholder, .bio-opportunity textarea::placeholder,
.bio-msg .form-control-plaintext::placeholder, .plug-feedback textarea::placeholder {
    color: #ced4da;
}
.bio-gallery .form-control:focus, .bio-opportunity .form-control:focus {
    box-shadow: inset 0 0 5px #ced4da;
}
.bio-gallery .add-sym {
    font-size: 6rem;
}

/*Styling for Profile Page (Opportunity Section)*/
#opportunityTab, #addContentTab, #walletTab {
    background-color:  #e1e1e1;
}
#opportunityTab .nav-link,#addContentTab .nav-link, .counter, #walletTab .nav-link {
    font-size: 1rem;
    color: white !important;
    line-height: 1;
}
#opportunityTab .nav-link.active, #addContentTab .nav-link.active, .counter, #walletTab .nav-link.active, .bg-yellow {
    background-color: #fdc242;
}
.op-name, .op-location, .op-time, .up-name, .up-desc, .op-profile-desc, .op-comment, .op-rating,#about .caption, #about .intro,
#about .my-5 span, .plug-msg, .no-decor, .drop-name, .drop-desc, .bio-opportunity .plug-card .plug-caption .plug-name, .plug-feedback
.media-body a {
    display: block;
}
.no-decor {
    text-decoration: none !important;
}
.bio-opportunity .input-group-prepend, .plug-info .input-group-prepend {
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #bcbaba 100%);
    padding: .375rem .75rem;
    border-top-left-radius: .675rem;
    border: 1px solid #bcbaba;
    border-right: none;
}
#ui-datepicker-div {
    z-index: 2 !important;
}
.bio-opportunity .input-group, .form-control.hasDatepicker {
    height: calc(2.25rem + 2px);
}
.bio-opportunity .add-sym {
    font-size: 3rem;
}
.add-exp {
    top: 50%;
    transform: translateY(-50%);
}
.no-decor.add {
    height: 72px;
}

/*Styling for Profile Page (Wallet Section)*/
.dropzone, .vid-box, .vid-url, input.vid-url:focus {
    border: 1px dashed #73747799;
}
.dropzone, .vid-box {
    min-height: 200px;
    margin-bottom: 1rem;
}
.dropzone .dz-message {
    margin: 65px 0;
    color: grey;
    font-size: 0.875rem;
}
.vid-box {
    padding: .5rem;
}
.vid-url {
    top: auto;
    bottom: -148px;
}
.vid-url, .plug-info .input-group-prepend {
    padding: .25rem .5rem;
}
input.vid-url::placeholder {
    text-align: center;
}
input.vid-url:focus {
    box-shadow: inset 0 0 5px #ced4da;
}
input.vid-url:focus, .bio-msg .form-control-plaintext:focus, .plug-feedback textarea:focus {
    outline: none;
}
.cr {
    color: green;
}
.dr {
    color: red;
}

/*Styling for Achievement Instance*/
.ach-status img {
    height: 55px;
}
#ach-review .card {
    border: none;
}
#ach-review .card-body {
    padding: 0;
}

/*Styling for Sign In & Up*/
.sign-page {
    background-color: rgba(0, 0, 0, .675);
    min-height: 100vh;
}
.sign-page form, .sign-cnt, .sign-page input, .sign-page .form-check-label, .sign-page .form-control:focus, .sign-caption, .sub-head {
    color: white;
}
.sign-page input {
    background: none;
    padding: .25rem 10% .25rem .75rem;
}
.sign-page input, .bio-gallery .form-control, .bio-opportunity .form-control, .plug-info .form-control, #m-profileTab.form-control {
    border-radius: 0.675rem 0.125rem;
}
.sign-page .form-control:focus, .plug-info .form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}
.sign-page input::placeholder {
    color: #ced4da;
    opacity: 1;
}
.sign-page input[type="text"] {
    background: url(../images/username.png) no-repeat 97% center;
    background-size: 0.875rem;
}
.sign-page input[type="email"] {
    background: url(../images/email.png) no-repeat 97% center;
    background-size: 1rem;
}
.sign-page input[type="password"] {
    background: url(../images/password.png) no-repeat 97.5% center;
    background-size: 1.25rem;
}
a.link-yellow, a.link-yellow:hover {
    font-weight: 300;
    text-decoration: none;
}
.social_login img {
    height: 30px;
}
.sign-ads, .sign-ads .link-yellow {
    font-size: 2.5rem;
    line-height: 1;
}

/*Styling for Buttons*/
.plug-btn, .plug-btn-sm {
    color: white;
    padding: .25rem 1rem;
    border-radius: .5rem .125rem .5rem .125rem;
    box-shadow: 0 0 5px #73747766;
    cursor: pointer;
}
.plug-btn:hover, .plug-btn-sm:hover {
    color: white;
    box-shadow: 0 0 10px #73747780;
}
.plug-btn-sm img {
    height: 12px;
    vertical-align: baseline;
}
.plug-btn[data-toggle="collapse"] i {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}
.plug-btn[data-toggle="collapse"] i.active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*Styling for Modal*/
.modal-dialog {
    margin: 100px auto 0;
}
.modal-content, .page-link, .page-link:focus, .page-link:hover, .page-item.disabled .page-link, .page-item.active .page-link {
    background-color: transparent;
    border: none;
}
.modal-header {
    border: none;
    color: white;
    padding: .5rem;
}
.modal-body {
    padding: 0;
}
.modal-body .plug-content, .modal-body .plug-info {
    padding: .5rem;
}
.modal-body .plug-info, .modal-body .plug-view, .modal-body .plug-view-card, .modal-body .plug-feedback {
    height: 375px;
}
.modal-body .plug-view, .modal-body .plug-view-card, .modal-body .plug-feedback {
    background-color: white;
    border-radius: 1.25rem .25rem 1.25rem .25rem;
}
.modal-body .plug-view-card, .modal-body .plug-feedback {
    padding: 1rem;
    left: 0;
}
.modal-body .plug-view-card a, .plugger-bio a, .page-link:focus, .page-link:hover, .modal-body .plug-feedback a, .bio-info a {
    text-decoration: none;
}
.plug-view-card .plugger-img, .op-uploader img, .op-status img, .bio-msg .bio-img, .card-body .bio-img {
    height: 75px;
}
.plug-view-card .plugger-info, .plugger-bio .bio-info, .plugger-bio .bio-edit .btn, .drop-desc, nav.navbar .dropdown-menu .btn,
.plug-feedback .media-body, .card-body .bio-info, .bio-msg .bio-info {
    line-height: 1;
}
.plug-view-card .plugger-info .view-plugger-name, .plugger-bio .bio-info .name, #plugMe-tab .nav-link, nav.flex-column.side-nav a,
.op-name, .sign-caption .hd, #profileTab .nav-link, .card-body .bio-info .name, .bio-msg .bio-info .name, .sub-head, .sub-body {
    font-size: 1.125rem;
}
.plug-view-card .plugger-info .view-plugger-desc, .plug-metrics .value, .op-profile-value, a.link-yellow, .msg-status {
    font-size: 0.875rem;
}
.plug-view-card .plugger-info .view-plugger-location, .plug-date, .op-time, .up-discliamer, .drop-desc, .plug-feedback
.media-body .desc, .fd-time {
    font-size: 0.675rem;
}
.plug-view-card hr, .plugger-bio hr, nav.flex-column.side-nav hr, #m-profileTab.form-control, .sub-card hr {
    width: 60%;
}
.view-plugger-location img, .op-location img{
    height: 1rem;
    vertical-align: text-bottom;
}
.plug-metrics img {
    width: 1rem;
    vertical-align: baseline;
}
.plug-view-card hr, .sub-card hr {
    margin: .5rem auto;
}
.plug-metrics .icon, .plug-tag,.plugger-bio .location, .sign-page .form-check-label, .plug-info .input-group, .plug-feedback,
.plug-feedback .media-body .name, .card-body .bio-info .location, .bio-msg .bio-info .location {
    font-size: 0.75rem;
}
.plug-tag span, .plug-feedback .fa-close {
    font-size: 1rem;
}
.plugger-info .plug-msg img{
    height: 1rem;
}
.plug-info .input-group {
    height: 1.5rem;
}
.plug-info .input-group-prepend {
    background: white;
    color: #737477;
}
.plug-info .form-control {
    background: #e6e7e8;
}
.plug-feedback .media img {
    height: 2rem;
}
.fd-time {
    bottom: 0.25rem;
}
.fd-time, .drop-time {
    font-size: 0.5rem;
}
.plug-feedback .fa-close {
    padding: .5rem;
    top: 1rem;
    right: 1.5rem;
    z-index: 1;
    cursor: pointer;
}

/*Styling for Bio Message Page*/
.bio-msg .form-control-plaintext, .plug-feedback textarea {
    width: 100%;
}
.bio-msg textarea.form-control-plaintext, .plug-feedback textarea, .modal-body .plug-view, .sub-card {
    overflow: hidden;
}

/*Styling for Subscription Page*/
.sub-card {
    max-width: 225px;
    border-radius: 1rem 0.25rem;
    box-shadow: 0 0 5px #d8d8d8
}

/*Styling for Pagination*/
.page-link {
    padding: .5rem;
}
.page-link::after {
    content: " ,"
}
.page-item:first-child .page-link::after, .page-item:nth-last-child(2) .page-link::after, .page-item:last-child .page-link::after {
    content: "";
}

/*Styling for Footer*/
footer {
    background-color: #363435;
    color: white;
    font-size: 0.75rem;
}
footer, .sign-caption p, #plugMe-tab .nav-link, #profileTab .nav-link, .sign-caption p, .drop-desc{
    font-weight: 300;
}
footer .input-group .form-control{
    border-radius: .5rem 0 0 .125rem;
}
footer .input-group-sm>.input-group-btn>.btn {
    border-radius: 0 .125rem .5rem 0 ;
}
footer .social img, .logo-orange img {
    height: 65px;
}
footer nav {
    background-color: #191919;
}
footer nav .nav-link {
    color: white;
    font-size: 0.75rem;
    padding: 0 1rem;
}
footer nav .nav-link:nth-child(2), footer nav .nav-link:nth-child(3) {
    border-right: 1px solid white;
}
footer nav .nav-link.copyright {
    position: absolute;
    left: 1.5rem;
}

@media (min-width: 991px) and (max-width: 1200px) {
    footer .social img{
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .modal-dialog {
        max-width: 725px;
    }
    .plug-view-card .plugger-img {
        height: 65px;
    }
    .plug-view-card .plugger-info .view-plugger-name, .plugger-bio .bio-info .name, .card-body .bio-info .name, .bio-msg .bio-info .name {
        font-size: 1rem;
    }
    .plug-view-card .plugger-info .view-plugger-desc, .plugger-bio .bio-info .desc, .card-body .bio-info .desc, .bio-msg .bio-info .desc {
        font-size: 0.75rem;
    }
    .plug-view-card .plugger-info .view-plugger-location {
        font-size: 0.5rem;
    }
    .plug-view-card .plugger-info .view-plugger-location img{
        height: 0.75rem;
    }
    .plug-tag span {
        font-size: 0.875rem;
    }
}

@media (min-width: 992px) {
    .page-content .col-lg-auto {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .modal-dialog {
        max-width: 900px;
    }
}

@media (max-width: 991px) {
    nav.navbar .plugme-logo {
        margin-left: 1rem;
    }
    nav.navbar .sign {
        margin: 0 .5rem;
    }
    nav.navbar .sign:last-child {
        margin: 0 1rem 0 .5rem;
    }
    nav.navbar .sign img {
        height: 15px;
    }
    .sign-ads, .sign-ads .link-yellow {
        font-size: 2rem;
    }
    #plugMe-tab .nav-link {
        font-size: 1rem;
    }
    footer .social img{
        height: 40px;
    }
}

@media (max-width: 768px) {
    nav.navbar .plugme-logo {
        margin-left: 0;
    }
    nav.navbar .input-group {
        width: 50%;
    }
    #Ads-Banner .carousel-control-next, #Ads-Banner .carousel-control-prev {
        width: 10%;
    }
    .Ads.open, #mobile-plugMe-tab.open, .main-page.open, footer.open {
        margin-left: 250px;
    }
    .plugger-bio {
        max-width: 300px;
    }
    footer nav .nav-link {
        border: none !important;
        padding: .5rem 1rem;
    }
    footer .social img{
        height: 55px;
    }
}

@media (max-width: 575px) {
    .modal-body .plug-view, .modal-body .plug-view-card {
        height:335px;
    }
    nav.navbar .input-group {
        width: 55%;
    }
    .plug-card {
        width: 250px
    }
    footer .social img{
        height: 65px;
    }
}