/*Styling Default Bootstrap Container-fluid*/
.container-fluid {
    margin-left: 0;
}

/*Styling for PlugMe Navbar*/
nav.navbar {
    background-color: #191919;
    padding: .75rem 1rem;
}
nav.navbar, #plugMe-tab.fix, #mobile-plugMe-tab.fix, nav#mobile-plugMe-tab, #nav-icon span, .plug-caption, .vid-url,
.add-exp, .plug-card .plug-action, .plug-feedback, .plugger-bio figure, .plugger-img figure, .plug-info figure, #plugMe-tab2 {
    width: 100% ;
}
nav.navbar .input-group {
    width: 40%;
}
nav.navbar .input-group .form-control{
    border-radius: 0 .125rem .5rem 0;
}
nav.navbar .input-group-sm>.input-group-btn>.btn {
    border-radius: .5rem 0 0 .125rem;
}
nav.navbar .plugme-logo img {
    height: 40px;
}
nav.navbar .sign {
    color: white;
    margin: 0 .75rem;
    text-decoration: none;
}
nav.navbar .sign img {
    height: 20px;
}
nav.navbar .sign span, nav.navbar .sign:hover, nav.navbar .dropdown-menu .dropdown-item, .link-yellow, .link-yellow:hover,
#about figure h5, nav.navbar .dropdown-menu .dropdown-item .media {
    color: #fdc242;
}
nav.navbar .dropdown-toggle::after, .add-exp, .plug-card .plug-action {
    display: none;
}
nav.navbar .dropdown-menu {
    background-color: #484546;
    left: auto;
    right: 0;
    margin: 0.25rem 0 0;
    border-radius: 1rem .25rem 1rem .25rem;
    width: 375px;
    line-height: 1;
}
nav.navbar .dropdown-menu.bio {
    width: 100px;
}
nav.navbar .dropdown-menu .btn {
    top: 0.875rem;
    right: 0.875rem;
}
nav.navbar .dropdown-menu h5, nav.navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1rem;
}
nav.navbar .dropdown-menu .dropdown-item {
    color: white;
    font-size: 0.875rem;
    font-weight: 300;
}
nav.navbar .dropdown-menu img {
    height: 1.75rem;
}
nav.navbar .dropdown-menu .dropdown-item:focus, nav.navbar .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}
nav.navbar .dropdown-menu hr, .plug-feedback hr {
    margin: .375rem auto;
}
.red-counter {
    top: -0.375rem;
    right: 0;
    height: 1.375rem;
    width: 1.375rem;
    font-size: 0.875rem;
    color: white;
    border-radius: 50%;
    background-color: #ea4235;
}
.drop-time, .msg-status, .fd-time {
    right: 0.875rem;
}
.drop-time, .msg-status {
    bottom: -0.375rem;
}


/*Styling for Input Groups*/
nav.navbar .input-group .form-control, footer.about .input-group-sm .form-control {
    background-color: white;
    font-size: 0.875rem;
    border: #737477;
    box-shadow:inset 0 0 5px #737477;
}
.input-group .form-control:focus {
    box-shadow: none;
}
nav.navbar .input-group-sm>.input-group-btn>.btn, footer.about .input-group-sm>.input-group-btn>.btn {
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #bcbaba 100%);
    cursor: pointer;
    color: #5d3c9c;
    border: none;
}
nav.navbar .input-group-sm>.input-group-btn>.btn:hover {
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #a5a5a5 100%);
}

/*Styling for Headers*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/*Styling for Advert Banner*/
.Ads {
    margin-top: 56px;
}
#Ads-Banner, #Ads-Banner .carousel-inner, #Ads-Banner .carousel-item {
    height: 225px;
    overflow: hidden;
}
#Ads-Banner .carousel-item img, #entryGallery .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#Ads-Banner .carousel-control-next, #Ads-Banner .carousel-control-prev {
    width: 5%;
}
#entryGallery, #entryGallery .carousel-inner, #entryGallery .carousel-item {
    height: 100%;
}


/*Styling for Content Area Navbar*/
#plugMe-tab, #mobile-plugMe-tab, .plugger-bio, .bio-gallery, .bio-opportunity, .bio-achievement, .bio-msg, .no-decor.add, .vid-url,
.plug-feedback, .modal-body .plug-content {
    position: relative;
}
#plugMe-tab, #plugMe-tab2 , #mobile-plugMe-tab {
    box-shadow: 0 2px 4px #00000040;
}
#plugMe-tab.fix, #mobile-plugMe-tab.fix, #plugMe-tab2 {
    position: fixed;
    top: 64px;
    background-color: white;
    z-index: 3;
}
.mt-46 {
    margin-top: 46px;
}
#plugMe-tab .nav-link.active, #plugMe-tab .nav-link:hover, #plugMe-tab2 .nav-link.active, #plugMe-tab2 .nav-link:hover,
.mobile-tab-name, #profileTab .nav-link.active, #profileTab .nav-link:hover {
    color: #5d3c9c;
}
#plugMe-tab .nav-link.active, #plugMe-tab2 .nav-link.active, #mobile-plugMe-tab, #profileTab .nav-link.active {
    font-weight: 400;
}


/*Styling for Mobile Application Navigation*/
nav#mobile-plugMe-tab {
    background-color: white;
    height: 46px;
    padding-right: 56px;
}
#nav-icon{
    width: 40px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon span, .bg-purple {
    background: #5d3c9c;
}
#nav-icon span {
    display: block;
    position: absolute;
    height: 6px;
    border-radius: .25rem .0625rem .25rem .0625rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
    top: 0;
}
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 12px;
}
#nav-icon span:nth-child(4) {
    top: 24px;
}
#nav-icon.open span:nth-child(1), #nav-icon.open span:nth-child(4)  {
    top: 12px;
    width: 0;
    left: 50%;
}
#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.no-ads {
    margin-top: 111px;
}


/*Styling for Content Area*/
.main-page {
    background: url(../images/wallpaper.png) no-repeat center;
    background-size: cover;
}
.page-header h3, .page-header h4, .op-name, .up-name, .plug-info .name, .plug-tag span, #about .caption, #about h6,
.bio-gallery label, .bio-opportunity label, .bio-msg h5, .bio-msg h6, .bio-info .name {
    color: #5d3c9c;
    font-weight: 500;
}


/*Styling for Plug Cards*/
.plug-card {
    position: relative;
    background-color: white;
    height: 250px;
    max-width: 225px;
    cursor: pointer;
    overflow: hidden;
}
.plug-card.sgt {
    height: 200px
}
.plug-card-sm {
    height: 150px;
    max-width: 125px;
}
.plug-card, .plug-list, .plugger-bio .bio-img, .sub-card {
    border-radius: 1rem .25rem;
}
.plug-card, .plugger-bio, .bio-gallery, .bio-opportunity, .bio-achievement, .bio-msg, .sub-card, .plug-list, .modal-body .plug-content,
.modal-body .plug-feedback, .modal-body .plug-info, nav.fixed-bottom {
    box-shadow: 0 0 5px #73747766;
}
.plug-caption {
    position: absolute;
    bottom: 0;
    color:  #cfd0d1;
    border-radius: 0 0 1rem .25rem;
    background-color: rgba(0,0,0,.7);
    max-height: 90px;
    height: auto;
    transition: max-height 1.5s ease !important;
    -webkit-transition: max-height 1.5s ease; /* Safari */
}
.plug-caption, .plug-caption.active, .plug-caption.activated, .plug-description {
    box-shadow: 0 0 5px #73747799;
}
.plug-name, .plugger-bio .bio-rating, .plugger-bio .bio-header, .plug-metrics, .plug-date, #opportunityTab .nav-lnk,
#addContentTab .nav-link, #walletTab .nav-link, .op-profile-desc, .op-comment span, .sign-cnt, .sign-ads, .sign-ads .link-yellow,
.sign-caption .hd, #about figure h5, nav.navbar .dropdown-menu h5, .drop-name, .plug-feedback .media-body .name, .card-body .media-body
.name, #wTab-content h5, .purple h6, .sub-head, .plug-list .icon {
    font-weight: 500;
}
.plug-caption .plug-name, .plug-caption .plug-categories, .plug-caption .opp-plugger-name, .add-sym, nav.navbar .dropdown-menu h5 {
    color:  #cfd0d1;
    text-decoration: none;
}
.plug-caption .plug-details, .bio-opportunity .plug-card .plug-caption .plug-name, .plug-info .input-group-prepend, .op-uploader,
.plugger-bio .bio-edit .btn {
    line-height: 1.25;
}
.plug-caption .plugger-name, .plug-caption .achiever-desc, .op-location, .up-desc, .op-comment, .sign-cnt,
.plug-btn-sm, .op-rating, .plug-list .col-4 {
    font-size: 0.75rem;
}
.plug-caption .plug-categories, .plug-caption .opp-plugger-name, .plugger-bio .bio-member{
    display: block;
    font-size: 0.675rem;
}
.plug-caption .plug-categories, .plug-caption .opp-plugger-name, .plugger-bio .bio-member, figure .bio-info {
    line-height: 1.125;
}
.plug-caption hr, .plug-info hr, .plugger-bio hr, nav.navbar .dropdown-menu hr, .bio-opportunity hr, .bio-achievement hr,
.bio-msg hr, .plug-feedback hr, #wTab-content hr, .plug-list hr {
    background-image: radial-gradient(#cfd0d1 20%, transparent 100%);
}
.plug-caption.active hr, .plug-caption.actived hr {
    background-image: radial-gradient(#737477 20%, transparent 100%);
}
.plug-caption hr, .plug-caption.active hr, .plug-caption.actived hr, .plug-info hr, .plugger-bio hr, nav.navbar .dropdown-menu hr, .bio-opportunity hr,
.bio-achievement hr, .bio-msg hr, .plug-feedback hr, #wTab-content hr, .plug-list hr {
    border: 0 !important;
    border-radius: 50%;
}
.plug-caption hr, .plug-info hr, .plugger-bio hr, nav.navbar .dropdown-menu hr, .plug-caption.active hr, .bio-opportunity hr,
.plug-caption.actived hr, .bio-achievement hr, .bio-msg hr, .plug-feedback hr, #wTab-content hr, .plug-list hr {
    height: 0.075rem;
}
.plug-caption hr {
    margin: .25rem 0 !important;
}
.plug-caption .likes, .plug-caption .views {
    display: inline-block;
    width: 48%;
    font-size: .675rem;
}
.plug-caption.active, .plug-caption.activated {
    background-color: white;
    max-height: 135px;
}
.plug-caption.active a.plug-name, .plug-caption.activated a.plug-name, .plugger-bio .bio-rating, .op-profile-desc .plug-metrics,
.plug-tag, .bio-info .desc, .up-desc, #about .intro, #about p, #about .my-5 span, .add-exp, .magenta, .plug-list a:hover .op-name,
.plug-btn-metrics, .op-profile-desc {
    color: #86275d;
}
.plug-caption.active .plugger-name, .plug-caption.active .achiever-desc, .plugger-bio .bio-header, .plug-feedback .media-body a,
.purple {
    color: #5d3c9c;
}
.plug-caption.active .plug-categories, .plug-caption.active .plug-metrics, .plug-caption.activated .plug-metrics, .plugger-bio .bio-member, .plugger-info .location,
.plug-date, .plugger-bio .location, .op-rating, .op-location, .op-time, .op-comment, .op-profile-value, #plugMe-tab .nav-link, #profileTab .nav-link, .plugger-bio .bio-member,
.up-discliamer, .bio-msg label, .msg-status, .plug-feedback, .plug-feedback textarea, .card-body .bio-info .location, #wTab-content h5,
.grey, .bio-info .location, .sub-body, .sub-footer, .plug-list a, #plugMe-tab2 .nav-link {
    color: #737477;
}
.bg-magenta {
    background: #86275d;
}
.bio-gallery .plug-card, .bio-opportunity .plug-card {
    height: 200px;
}
.bio-gallery .plug-card .plug-caption.active, .bio-opportunity .plug-card .plug-caption.active {
    background-color: white;
    max-height: 110px;
}
.bio-gallery .plug-card .plug-caption .plug-name, .bio-gallery label, .bio-opportunity label, #about p, .bio-gallery .form-control,
.bio-opportunity .form-control, .bio-opportunity .input-group .form-control, .bio-opportunity .plug-card .plug-caption .plug-name,
.s-0875, .bio-info .desc, .plug-metrics {
    font-size: 0.875rem;
}
.plug-card .plug-cancel, .plug-card .plug-type {
    top: 0;
}
.plug-card .plug-cancel img, .plug-card .plug-type img {
    height: 2rem;
}
.plug-card .plug-action {
    top: 2.5rem
}
.plug-card.tag .plug-action {
    top: 6rem
}
.plug-card > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
nav.navbar .dropdown-menu hr, .plug-list hr, .plug-feedback hr {
    width: 80%;
}

/* Styling for About Categories */
.about-graphic img{
    object-fit: cover;
    width: 100%;
}
.about-sign-up, .about-connect, .about-fanbase, .about-creatvt, .add-sym, .add-exp, .red-counter, .drop-time, nav.navbar .dropdown-menu .btn.add,
.msg-status, .plug-card .plug-cancel, .plug-card .plug-action {
    position: absolute;
}
.about-sign-up, .about-connect, .plug-card .plug-cancel {
    right: 0;
}
.about-fanbase, .about-creatvt, .plug-card .plug-type {
    left: 0;
}
.about-sign-up {
    top: 12.5%;
}
.about-connect {
    top: 62.5%;
}
.about-fanbase {
    top: 32%;
}
.about-creatvt {
    top: 80%;
}
#about figure {
    width: 70%;
    margin-left: 15%;
}
#about figure img {
    object-fit: contain;
    width: 100%;
    height: 150px;
}
#about figure figcaption {
    width: 120%;
    margin-left: -10%;
}

/*Styling for Profile Page (Portfolio Section)*/
.plugger-bio, .bio-gallery, .bio-opportunity, .bio-achievement, .bio-msg {
    border-radius: 1.25rem .25rem;
    overflow: hidden;
}
.plugger-bio, #opTab-content, #ocTab-content, #wTab-content {
    padding: 1.5rem 1.25rem;
}
.sub-card {
    background-color: #fafafa;
}
.bio-gallery, .bio-opportunity, .bio-achievement, .bio-msg, .plug-list, .plugger-bio, .modal-body .plug-content,
.modal-body .plug-feedback, .modal-body .plug-info, nav.fixed-bottom {
    background-color: white;
}
.p-1-25 {
    padding: 1.25rem;
}
.plugger-bio .bio-img {
    height: 100px;
    border-radius: 1rem .25rem;
}
.plugger-bio .bio-info img, .card-body .bio-info img, .bio-msg .bio-info img{
    height: 1rem;
    vertical-align: text-bottom;
}
.plugger-bio .bio-rating {
    line-height: 2;
    font-size: 0.875rem;
}
.plugger-bio hr, .bio-opportunity hr, .bio-achievement hr, .bio-msg hr {
    margin: 1rem auto;
}
.plug-msg img, .plug-action img, nav.fixed-bottom img {
    height: 1.25rem !important;
}
.bio-gallery .form-control, .bio-opportunity .form-control, .bio-gallery .form-control:focus, .bio-opportunity .form-control:focus {
    border: 1px solid #73747799;
}
.bio-gallery input::placeholder, .bio-gallery textarea::placeholder, .bio-opportunity input::placeholder, .bio-opportunity textarea::placeholder,
.bio-msg .form-control-plaintext::placeholder, .plug-feedback textarea::placeholder {
    color: #ced4da;
}
.bio-gallery .form-control:focus, .bio-opportunity .form-control:focus {
    box-shadow: inset 0 0 5px #ced4da;
}

/*Styling for Profile Page (Opportunity Section)*/
#opportunityTab, #addContentTab, #walletTab, .plug-list a:hover {
    background-color:  #e1e1e1;
}
#opportunityTab .nav-link,#addContentTab .nav-link, .counter, #walletTab .nav-link {
    font-size: 1rem;
    color: white !important;
    line-height: 1;
}
#opportunityTab .nav-link.active, #addContentTab .nav-link.active, .counter, #walletTab .nav-link.active, .bg-yellow {
    background-color: #fdc242;
}
.op-name, .op-location, .op-time, .up-name, .up-desc, .op-profile-desc, .op-comment,#about .caption, #about .intro,
#about .my-5 span, .plug-msg, .no-decor, .drop-name, .drop-desc, .bio-opportunity .plug-card .plug-caption .plug-name,
.plug-feedback .media-body a, .bio-info .name, .bio-info .desc, .bio-info .location {
    display: block;
}
.no-decor {
    text-decoration: none !important;
}
.bio-opportunity .input-group-prepend, .plug-info .input-group-prepend {
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #bcbaba 100%);
    padding: .375rem .75rem;
    border-top-left-radius: .675rem;
    border: 1px solid #bcbaba;
    border-right: none;
}
#ui-datepicker-div {
    z-index: 2 !important;
}
.bio-opportunity .input-group, .form-control.hasDatepicker {
    height: calc(2.25rem + 2px);
}
.add-exp, .add-sym {
    top: 50%;
    transform: translateY(-50%);
}
.no-decor.add {
    height: 72px;
}

/*Styling for Profile Page (Wallet Section)*/
.dropzone, .vid-box, .vid-url, input.vid-url:focus {
    border: 1px dashed #73747799;
}
.dropzone, .vid-box {
    min-height: 200px;
    margin-bottom: 1rem;
}
.dropzone .dz-message {
    margin: 65px 0;
    color: grey;
    font-size: 0.875rem;
}
.vid-box {
    padding: .5rem;
}
.vid-url {
    top: auto;
    bottom: -148px;
}
.vid-url, .plug-info .input-group-prepend {
    padding: .25rem .5rem;
}
input.vid-url::placeholder {
    text-align: center;
}
input.vid-url:focus {
    box-shadow: inset 0 0 5px #ced4da;
}
input.vid-url:focus, .bio-msg .form-control-plaintext:focus, .plug-feedback textarea:focus {
    outline: none;
}
.cr {
    color: green;
}
.dr {
    color: red;
}

/*Styling for Achievement Instance*/
.ach-status img {
    height: 55px;
}
#ach-review .card {
    border: none;
}
#ach-review .card-body {
    padding: 0;
}

/*Styling for Sign In & Up*/
.sign-page {
    background: url(../images/sign-in.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}
.sign-page form, .sign-cnt, .sign-page input, .sign-page .form-check-label, .sign-page .form-control:focus, .sign-caption,
.sub-head, .white {
    color: white;
}
.sign-page input {
    background: none;
    padding: .25rem 10% .25rem .75rem;
}
.sign-page input, .bio-gallery .form-control, .bio-opportunity .form-control, .plug-info .form-control, #m-profileTab.form-control {
    border-radius: 0.675rem 0.125rem;
}
.sign-page .form-control:focus, .plug-info .form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}
.sign-page input::placeholder {
    color: #ced4da;
    opacity: 1;
}
.sign-page input[type="text"] {
    background: url(../images/username.png) no-repeat 97% center;
    background-size: 0.875rem;
}
.sign-page input[type="email"] {
    background: url(../images/email.png) no-repeat 97% center;
    background-size: 1rem;
}
.sign-page input[type="password"] {
    background: url(../images/password.png) no-repeat 97.5% center;
    background-size: 1.25rem;
}
a.link-yellow, a.link-yellow:hover {
    font-weight: 300;
    text-decoration: none;
}
.social_login img {
    height: 30px;
}
.sign-ads, .sign-ads .link-yellow {
    font-size: 2.5rem;
    line-height: 1;
}

/*Styling for Buttons*/
.plug-btn, .plug-btn-sm {
    padding: .25rem 1rem;
    border-radius: .5rem .125rem .5rem .125rem;
    cursor: pointer;
}
.plug-btn, .plug-btn-sm {
    box-shadow: 0 0 5px #73747766;
}
.plug-btn:hover, .plug-btn-sm:hover {
    color: #5d3c9c;
    box-shadow: 0 0 10px #73747780;
}
.plug-btn-metrics:hover, footer nav .nav-link:hover {
    color: #86275d;
    text-decoration: underline !important;
}
.plug-btn-sm img {
    height: 12px;
    vertical-align: baseline;
}
.plug-btn[data-toggle="collapse"] i, #footer-menu i {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}
.plug-btn[data-toggle="collapse"] i.active, #footer-menu i.active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*Styling for Modal*/
.modal-backdrop, .modal {
    top: 64px;
}
.modal-backdrop, .bg-grey {
    background-color: #e6e7e8;
}
.modal-backdrop.show {
    opacity: 1;
}
.modal-content {
    background-color: transparent;
    border: none;
}
.modal-header {
    border: none;
    color: white;
    padding: .5rem;
}
.modal-body {
    padding: 0;
}
.modal-body .plug-info, .modal-body .plug-content, .modal-body .plug-feedback {
    height: 425px;
}
.modal-body .plug-content, .modal-body .plug-feedback, .modal-body .plug-info {
    border-radius: 1.25rem .25rem;
}
.modal-body .plug-info a, .plugger-bio a, .modal-body .plug-feedback a, .bio-info a, .plug-list a {
    text-decoration: none;
}
.plugger-img, .op-uploader img, .op-status img, .bio-msg .bio-img, .card-body .bio-img {
    height: 75px;
}
.drop-desc, nav.navbar .dropdown-menu .btn, .plug-feedback .media-body, .card-body .bio-info {
    line-height: 1;
}
.plug-info .name, .plugger-bio .bio-info .name, #plugMe-tab .nav-link, nav.flex-column.side-nav a, .op-name, .sign-caption .hd,
#profileTab .nav-link, .card-body .bio-info .name, .bio-msg .bio-info .name, .sub-head, .fa-search, #plugMe-tab2 .nav-link {
    font-size: 1.125rem;
}
.plug-metrics .value, .op-profile-value, a.link-yellow, .msg-status {
    font-size: 0.875rem;
}
.plug-info .view-plugger-location, .plug-date, .op-time, .up-discliamer, .drop-desc, .plug-feedback .media-body .desc, .fd-time,
.plug-list .icon, .plug-caption .plug-metrics {
    font-size: 0.675rem;
}
.plug-info hr, .plugger-bio hr, nav.flex-column.side-nav hr, #m-profileTab.form-control, .sub-card hr {
    width: 60%;
}
.location img, .op-location img{
    height: 1rem;
    vertical-align: text-bottom;
}
.plug-metrics img, .plug-list img {
    width: 0.875rem;
    vertical-align: baseline;
}
.plug-tag, .sign-page .form-check-label, .plug-info .input-group, .plug-feedback .media-body .name,
.card-body .bio-info .location,.bio-info .location, .s-075 {
    font-size: 0.75rem;
}
.plug-tag span, .plug-feedback .fa-close, .plug-list .op-name, footer nav.connect .nav-link i, #footer-menu i {
    font-size: 1rem;
}
.plugger-info .plug-msg img{
    height: 1rem;
}
.w-0-75 {
    width: 0.75rem !important;
}
.plug-info .input-group {
    height: 1.5rem;
}
.plug-info .input-group-prepend {
    background: white;
    color: #737477;
}
.plug-info .form-control {
    background: #e6e7e8;
}
.plug-feedback .media img {
    height: 2rem;
}
.fd-time {
    bottom: 0.25rem;
}
.fd-time, .drop-time {
    font-size: 0.5rem;
}
#fdbk_cancel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
#fdbk_cancel img {
    height: 2rem;
}
.plug-description {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.85);
    color: #cfd0d1;
}

/*Styling for Bio Message Page*/
.bio-msg .form-control-plaintext, .plug-feedback textarea, .add-sym {
    width: 100%;
}
.bio-msg textarea.form-control-plaintext, .plug-feedback textarea, .modal-body .plug-content, .sub-card, .plug-list, .plug-feedback {
    overflow: hidden;
}

/*Styling for Subscription Page*/
.sub-card {
    max-width: 225px;
}

/*Styling for Footer*/
footer, .sign-caption p, #plugMe-tab .nav-link, #plugMe-tab2 .nav-link, #profileTab .nav-link, .sign-caption p, .drop-desc{
    font-weight: 300;
}
.logo-orange img {
    height: 65px;
}
footer nav .nav-link {
    color: #86275d;
    font-size: 0.75rem;
}
footer nav.connect .nav-link {
    color: white;
    font-size: 0.875rem;
    padding: .5rem 1rem .5rem 0;
}
footer.about {
    background-color: #363435;
    color: white;
    font-size: 0.875rem;
}
footer.about .input-group .form-control{
    border-radius: .5rem 0 0 .125rem;
}
footer.about .input-group-sm>.input-group-btn>.btn {
    border-radius: 0 .125rem .5rem 0 ;
}
footer.about .social img, .logo-orange img {
    height: 65px;
}
footer.about nav.bottom {
    background-color: #191919;
}
footer.about nav.bottom .nav-link {
    color: white;
    font-size: 0.75rem;
    padding: 0 1rem;
}
footer.about nav.bottom .nav-link:nth-child(2), footer.about nav.bottom .nav-link:nth-child(3) {
    border-right: 1px solid white;
}
footer.about nav .nav-link.copyright {
    position: absolute;
    left: 1.5rem;
}
footer .input-group.input-group-sm {
    width: auto;
    max-width: 350px;
}

@media (min-width: 991px) and (max-width: 1200px) {
    footer.about .social img{
        height: 50px;
    }
}

@media (min-width: 576px) {
    .modal-dialog, .container {
        max-width: 90%;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1240px;
    }
    .modal-dialog {
        max-width: 1140px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .plugger-img {
        height: 65px;
    }
    .plug-info .view-plugger-name, .plugger-bio .bio-info .name, .card-body .bio-info .name, .bio-msg .bio-info .name {
        font-size: 1rem;
    }
    .plug-info .desc, .plugger-bio .bio-info .desc, .card-body .bio-info .desc, .bio-msg .bio-info .desc {
        font-size: 0.75rem;
    }
    .plug-info .location {
        font-size: 0.5rem;
    }
    .plug-info .location img{
        height: 0.75rem;
    }
    .plug-tag span {
        font-size: 0.875rem;
    }
}

@media (max-width: 991px) {
    nav.navbar .plugme-logo {
        margin-left: 1rem;
    }
    nav.navbar .sign {
        margin: 0 .5rem;
    }
    nav.navbar .sign:last-child {
        margin: 0 1rem 0 .5rem;
    }
    nav.navbar .sign img {
        height: 15px;
    }
    .sign-ads, .sign-ads .link-yellow {
        font-size: 2rem;
    }
    #plugMe-tab .nav-link, #plugMe-tab2 .nav-link  {
        font-size: 1rem;
    }
    .plug-metrics {
        font-size: 0.75rem;
    }
    footer .social img{
        height: 40px;
    }
}

@media (max-width: 768px) {
    nav.navbar .plugme-logo {
        margin-left: 0;
    }
    nav.navbar .input-group {
        width: 50%;
    }
    .no-ads {
        margin-top: 64px;
    }
    #Ads-Banner .carousel-control-next, #Ads-Banner .carousel-control-prev {
        width: 10%;
    }
    .Ads.open, #mobile-plugMe-tab.open, .main-page.open, footer.open {
        margin-left: 250px;
    }
    .plugger-bio {
        max-width: 300px;
    }
    footer.about nav .nav-link {
        border: none !important;
    }
    footer.about .social img{
        height: 55px;
    }
}

@media (max-width: 575px) {
    .modal-body .plug-content {
        height:335px;
    }
    nav.navbar .input-group {
        width: 55%;
    }
    .plug-card, .plug-btn.sgt {
        width: 250px
    }
    footer.about .social img{
        height: 65px;
    }
}